<center>
    <h1>Sign in</h1>
    <form action="/login/dashboard" method="post">
    <div class="form-group">
        <label>Email Id/Mobile no.</label>
        <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="pass">
    </div>
    <button type="submit">Submit</button>
    </form>
</center>